<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Tools by Logan Rath</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="//rath.phd/assets/rightresume/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="//rath.phd/assets/rightresume/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="//rath.phd/assets/rightresume/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="//rath.phd/assets/rightresume/main.css?ver=1.2.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header class="d-print-none" style="height: 2em;"></header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-10 col-md-6 mx-auto">
      <ul class="navbar nav">
        <li><a href="//rath.phd/">Home</a></li>
        <li><a href="//rath.phd/about/">About</a></li>
        <li><a href="/rath_cv_web.pdf">Download CV</a></li>
    </ul>
    </div>
    </div>
    <hr class="d-print-none mt-0 mb-3" />
    <div class="container px-3 px-lg-4 pb-4">
      {{ content }}
    </div>
  </div>
</div></div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
  <div class="container">
    <div class="my-3">
      <div class="h4"><a href="/">Logan Rath, PhD</a></div>
      <div class="footer-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="https://scholar.social/@logan@scholar.social" title="Mastodon"><i class="fab fab fa-mastodon"></i><span class="menu-title sr-only">Twitter</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="https://orcid.org/0000-0002-6221-4536" title="ORCid"><i class="fab fa-orcid"></i><span class="menu-title sr-only">ORCid</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="https://scholar.google.com/citations?user=sfO-kFAAAAAJ&hl=en" title="Google Scholar"><i class="fas fa-graduation-cap"></i><span class="menu-title sr-only">Google Scholar</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/loganrath/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-small">
      <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
      <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
    </div>
  </div>
</footer>
<script src="//rath.phd/assets/rightresume/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="//rath.phd/assets/rightresume/scripts/aos.js?ver=1.2.0"></script>
<script src="//rath.phd/assets/rightresume/scripts/main.js?ver=1.2.0"></script>
  </body>
</html>
